
/* design tittle */
body{
  background:linear-gradient(
    35deg,
    grey,
    #ffcccc);
  font-family: Times;

}

.natacha{
  font-size: 20px;
  font-family: Times;
  margin-left: 40px;
  color: #696969;
}

.portfolio{
  font-size: 35px;
  font-stretch:ultra-expanded;
  font-weight: bold;
 margin-left: 50px;
 text-transform: uppercase;

}

.border{
  border-style: outset;
  padding: 30px;
  width: 380px;
  padding-bottom: 50px;
  margin: 20%;
  margin-left: 33%;

}







/* animazione */
.balls {
  border-radius: 50%;
  background: linear-gradient(
    35deg,
    #ccffff,
    #ffcccc
  );
  position: fixed;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#ball1 {
  left:27%;
animation-timing-function:linear;
}
#ball2 {
  left:56%;
animation-timing-function:ease-in;

}

@keyframes bounce {
  0% {
    top: 0px;
  }
  100% {
    top: 249px;
  }
}
